## GroupBy

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [6]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [10]:
# Group by Category and Calculate the sum of Sales
x=df.groupby('Category')["Sales"].sum()

x

Category
A    570
B    930
Name: Sales, dtype: int64

In [11]:
x=df.groupby('Store')["Sales"].sum()

x

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [12]:
df["Sales"].mean()

187.5

In [13]:
df["Sales"].agg(['sum', 'mean', 'meadian'])

AttributeError: 'meadian' is not a valid function for 'Series' object

In [16]:
pip jupyterthemes

SyntaxError: invalid syntax (<ipython-input-16-987775f05efd>, line 1)